.wrap-marquee { 
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  ngx-marquee {
    flex: 1;
    width: 1px;
    font-size: 1em;  
    .ticker-custom {
      margin-right: 100px;
      color: white;
      line-height: 40px;
    }
    .ticker-custom:nth-child(even) {
      opacity: 0.8;
    }
    .ticker-custom:last-child {
      margin-right: 0;
    }
  }
}